<%- include('header') -%>

<header class='header'>
  <img class='header__img' src='header.jpg'>

  <h1 class='header_title'><%= title %></h1>
</header>

<main class='main'>

  <div class='article'>
    <article>

        <div> <%- html %>
        </div>
    </article>
  </div>
  <a href='/'> Til baka </a>
</main>

<%- include('footer') -%>
