<%- include('header') -%>
<header id='header' class='col-md-16'>
  <img is='header__img' class='col-md-12' src='header.jpg'>
  <h1 class='header_title'><%= title %></h1>
</header>
<main id='main' class='col-md-12'>
  <div id='article' class='col-md-6'>
    <article>
        <div> <%- html %>
        </div>
    </article>
  </div>
  <a href='/'> Til baka</a>
</main>
<%- include('footer') -%>
