<%- include('header') -%>
<header id='header' class='col-md-16'>
  <img id='header__img' class='col-md-12' src='header.jpg'>
  <h1 class='header_title'><%= title %></h1>
</header>
<main class='Container'>
  <div class='article'>
    <article>
        <div> <%- html %>
        </div>
    </article> 
    <a href='/'> Til baka</a>
  </div>
 
</main>
<%- include('footer') -%>
